*.a
*.dll
*.dylib
*.exe
*.fas
*.*history
*.lib
*.o
*.obj
*.so*
*.DS_Store
*.qm
*.ts
*~
*.~
#*.*#
_*
.*.lisp
.*.ui
.*.txt
*.user
.r
r
t.lisp
tr.h
moc_*.cpp
Makefile
eql
eql.app
gui/.*
my_app/my_app
my_app/my_app.app/*
my_app/.*
src/ECL*
src/tmp
Qt_EQL/Qt_EQL
Qt_EQL/EQL/data/*
