*.a
*.dll
*.dylib
*.exe
*.fas
*.gdb_history
*.lib
*.o
*.obj
*.so*
*.DS_Store
*.qm
*.ts
*.~
.*.lisp
*~
t.lisp
Makefile
eql
eql.app
gui/.*
my_app/my_app
my_app/tr.h
my_app/my_app.app/*
my_app/.*
my_app/*.user
r
src/*.user
src/ECL*
src/tmp
src/first_metatype_id
src/first_metatype_id.h
