*.a
*.dll
*.dylib
*.exe
*.fas*
*.*history
*.lib
*.o
*.obj
*.so*
*.DS_Store
*.qm
*.ts
*~
*.~
#*.*#
_*
.*.lisp
.*.ui
.*.txt
*.user
.r
.u
r
t.lisp
tr.h
moc_*.cpp
Makefile
eql
eql.app
gui/.*
my_app/my_app
my_app/my_app.app/*
my_app/.*
src/ECL*
src/tmp
Qt_EQL/Qt_EQL
Qt_EQL/EQL/data/*
Qt_EQL_plugin/qt_application
real-time-comparison/test
eql_profile*
send
eql_local_server
palindrome
cache
